1ans:

In [1]:
import pandas as pd

In [2]:
data=pd.Series([4,8,15,16,23,42])

In [3]:
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2ans:

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]

In [5]:
pd.Series(l)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

3ans:

In [6]:
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [7]:
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4ans:

In Pandas, a DataFrame is a two-dimensional labeled data structure, where data is organized into rows and columns. It is essentially a collection of Pandas Series objects with a shared index. A Pandas Series is a one-dimensional labeled array that can hold data of any type.

In [10]:
import pandas as pd


data = {'name': ['John', 'Mary', 'Alex'],
        'age': [25, 30, 35],
        'gender': ['male', 'female', 'male']}

In [11]:
df = pd.DataFrame(data)

In [12]:
df

   name  age  gender
0  John   25    male
1  Mary   30  female
2  Alex   35    male

5ans:

read_csv()

head()

describe()

memory_usage()

astype()

loc[:]

to_datetime()

value_counts()

drop_duplicates()

groupby()

6ans:

In pandas library, both Series and DataFrame are mutable in nature, which means that their contents can be changed after they have been created. However, Panel is considered to be deprecated and is no longer recommended for use in favor of multi-dimensional arrays, so it is not relevant to consider its mutability.

7ans: